# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Model files (jika besar)
# *.pkl
# *.h5
# *.pb

# Environment
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log